*{
    margin: 0;
    padding: 0;
}

nav{
    position: fixed;
    z-index: 9999;
    top: 0;
    height: 60px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-bottom: 2px solid black;
}

.logo{
    margin-left: 2vw;
    width: 20vw;
    line-height: 60px;
    text-align: center;
}

.logo > a{
    text-decoration: none;
    font-size: 22px;
    font-family: '楷体';
    color: deepskyblue;
    font-weight: bolder;
}

.logo > a > span{
    font-family:Arial, Helvetica, sans-serif;
}

.menu{
    list-style: none;
    display: flex;
    width: 20vw;
    height: 60px;
    align-items: center;
    margin-left: 3vw;
    font-size: 16px;
}

.menu-item{
    margin-left: 2vw;
    font-family: '楷体';
}

.menu-item:nth-child(3){
    transform: rotate(-5deg);
}

.menu-item-home{
    text-decoration: none;
    color: deeppink;
    font-weight: bold;
}

.menu-item-scenery{
    text-decoration: none;
    color: cadetblue;
    font-weight: bold;
}

.menu-item-cuisine{
    font-size: 18px;
    text-decoration: none;
    color: darkorchid;
    font-weight: bold;
}


.search-box{
    margin-top: 15px;
    margin-left: 20vw;
    margin-right: 3vw;
    display: flex;
    width: 20vw;
    height: 30px;
    border: 2px solid black;
    border-radius: 5vh;
    background-color: cornflowerblue;
}

.search-box input{
    width: 15vw;
    height: 20px;
    border: 0px;
    outline: none;
    margin: 0 1vw;
    background-color: transparent;
}

.search{
    border: none;
    outline: none;
    cursor: pointer;
    background: inherit;
    height: 30px;
}

.sign-in{
    width: 5vw;
    line-height: 60px;
    text-align: center;
}

.sign-in > a{
    text-decoration: none;
    font-size: 20px;
    font-family: '方正舒体';
    color: deepskyblue;
}

.sign-in > a:hover{
    color: rgb(178, 199, 217);
}

.sign-up{
    width: 5vw;
    line-height: 60px;
    text-align: center;
}

.sign-up > a{
    text-decoration: none;
    font-size: 20px;
    font-family: '方正舒体';
    color: deeppink;
}

.sign-up > a:hover{
    color: rgb(178, 199, 217);
}


footer{
    margin-top: 50px;
    height: 100px;
}

.footer-wrap{
    border-top: 4px dotted blueviolet;
    margin: 0 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright{
    margin-top: 20px;
}

.copyright span:nth-child(1){
    color: cornflowerblue;
}

.copyright span:nth-child(2){
    color: blueviolet;
}

.copyright span:nth-child(3){
    color: cornflowerblue;
}

.base{
    margin-top: 10px;
}

.base span:nth-child(1){
    color: deeppink;
}

.base span:nth-child(2){
    color: cadetblue;
}
.base span:nth-child(3){
    color: darkorchid;
}