*{
    margin: 0;
    padding: 0;
}

nav{
    position: fixed;
    z-index: 9999;
    top: 0;
    height: 60px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-bottom: 2px solid black;
}

.logo{
    margin-left: 2vw;
    width: 20vw;
    line-height: 60px;
    text-align: center;
}

.logo > a{
    text-decoration: none;
    font-size: 22px;
    font-family: '楷体';
    color: deepskyblue;
    font-weight: bolder;
}

.logo > a > span{
    font-family:Arial, Helvetica, sans-serif;
}

.menu{
    list-style: none;
    display: flex;
    width: 20vw;
    height: 60px;
    align-items: center;
    margin-left: 3vw;
    font-size: 16px;
}

.menu-item{
    margin-left: 2vw;
    font-family: '楷体';
}

.menu-item:nth-child(2){
    transform: rotate(-5deg);
}

.menu-item-home{
    text-decoration: none;
    color: deeppink;
    font-weight: bold;
}

.menu-item-scenery{
    font-size: 18px;
    text-decoration: none;
    color: cadetblue;
    font-weight: bold;
}

.menu-item-cuisine{
    text-decoration: none;
    color: darkorchid;
    font-weight: bold;
}


.search-box{
    margin-top: 15px;
    margin-left: 20vw;
    margin-right: 3vw;
    display: flex;
    width: 20vw;
    height: 30px;
    border: 2px solid black;
    border-radius: 5vh;
    background-color: cornflowerblue;
}

.search-box input{
    width: 15vw;
    height: 20px;
    border: 0px;
    outline: none;
    margin: 0 1vw;
    background-color: transparent;
}

.search{
    border: none;
    outline: none;
    cursor: pointer;
    background: inherit;
    height: 30px;
}

.sign-in{
    width: 5vw;
    line-height: 60px;
    text-align: center;
}

.sign-in > a{
    text-decoration: none;
    font-size: 20px;
    font-family: '方正舒体';
    color: deepskyblue;
}

.sign-in > a:hover{
    color: rgb(178, 199, 217);
}

.sign-up{
    width: 5vw;
    line-height: 60px;
    text-align: center;
}

.sign-up > a{
    text-decoration: none;
    font-size: 20px;
    font-family: '方正舒体';
    color: deeppink;
}

.sign-up > a:hover{
    color: rgb(178, 199, 217);
}

#container{
    width: 100vw;
    padding-top: 30px;
    display: flex;
}

main{
    width: 80vw;
    border-right: 3px dashed cadetblue;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scenery-wrap{
    width: 840px;
    height: 400px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(33, 233, 226, 0.113);
    box-shadow: 3px 3px 3px rgba(1, 1, 1, 0.5);
}

.scenery-block{
    width: 720px;
    height: 300px;
    display: flex;
    box-shadow: 3px 3px 3px rgba(1, 1, 1, 0.5);
}

.scenery-img-block{
    width: 400px;
    height: 300px;
}

.scenery-img-block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scenery-words-block{
    background-color: aquamarine;
    width: 320px;
    height: 300px;
}

.scenery-name{
    margin: 15px;
    padding-bottom: 10px;
    font-size: 20px;
    border-bottom: 1px solid rgb(24, 117, 92);
}

.scenery-wrap:nth-child(odd) .scenery-name{
    text-align: right;
}

.scenery-wrap:nth-child(1){
    background-color: rgba(249, 208, 229, 0.379);
}

.scenery-wrap:nth-child(1) .scenery-words-block{
    background-color: rgba(238, 139, 192, 0.612);
}

.scenery-wrap:nth-child(1) .scenery-name{
    border-bottom: 1px solid rgba(238, 78, 164, 0.379);
    color: deeppink;
}

.scenery-wrap:nth-child(2){
    background-color: rgba(151, 169, 170, 0.315);
}

.scenery-wrap:nth-child(2) .scenery-words-block{
    background-color: rgb(122, 171, 174);
}

.scenery-wrap:nth-child(2) .scenery-name{
    border-bottom: 1px solid rgb(27, 92, 96);
    color: rgb(33, 92, 94);
}

.scenery-wrap:nth-child(3){
    background-color: rgba(200, 138, 231, 0.445);
}

.scenery-wrap:nth-child(3) .scenery-words-block{
    background-color: rgba(147, 62, 190, 0.561);
}

.scenery-wrap:nth-child(3) .scenery-name{
    border-bottom: 1px solid rgb(95, 22, 132);
    color: darkorchid;
}

.scenery-wrap:nth-child(4){
    background-color: rgba(136, 203, 226, 0.542);
}

.scenery-wrap:nth-child(4) .scenery-words-block{
    background-color: rgba(31, 157, 199, 0.591);
}

.scenery-wrap:nth-child(4) .scenery-name{
    border-bottom: 1px solid rgb(12, 90, 116);
    color: rgb(0, 85, 114);
}

.scenery-description{
    font-size: 14px;
    margin: 10px;
    font-family: '楷体';
}

aside{
    padding-top: 50px;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scenery-navigation{
    position: sticky;
    top: 120px;
    display: flex;
    flex-direction: column;
}

.scenery-navigation-item{
    margin: 24px 0;
    list-style-type: circle;
    
}

.scenery-navigation-item a{
    text-decoration: none;
}

.scenery-navigation-item:nth-child(1) a{
    color: deeppink;
}

.scenery-navigation-item:nth-child(2) a{
    color: cadetblue;
}

.scenery-navigation-item:nth-child(3) a{
    color: darkorchid;
}

.scenery-navigation-item:nth-child(4) a{
    color: deepskyblue;
}

footer{
    margin-top: 50px;
    height: 100px;
}

.footer-wrap{
    border-top: 4px dotted blueviolet;
    margin: 0 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright{
    margin-top: 20px;
}

.copyright span:nth-child(1){
    color: cornflowerblue;
}

.copyright span:nth-child(2){
    color: blueviolet;
}

.copyright span:nth-child(3){
    color: cornflowerblue;
}

.base{
    margin-top: 10px;
}

.base span:nth-child(1){
    color: deeppink;
}

.base span:nth-child(2){
    color: cadetblue;
}
.base span:nth-child(3){
    color: darkorchid;
}