*{
    margin: 0;
    padding: 0;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/home-page-0.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(103, 172, 222);
}

.home-wrap{
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 40vh;
}

.bulletin-board{
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 90px;
    font-family: '方正舒体';
    font-weight: bolder;
    color:rgb(3, 44, 16);
}

.learn-more-btn{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: 5px solid rgb(3, 44, 16);
    color: rgb(3, 44, 16);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    font-family: '楷体';
    margin: 8px 4px;
    transition-duration: 0.4ms;
    cursor: pointer;
    border-radius: 64px;
    backdrop-filter: blur(5px);
}

.learn-more-btn:hover{
    backdrop-filter: blur(25px);
    color: white;
}

.point-list{
    list-style: none;
    width: 200px;
    height: 14px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 15px;
}

.point{
    backdrop-filter: blur(3px);
    width: 10px;
    height: 10px;
    border: 3px solid green;
    background-color: aliceblue;
    border-radius: 100%;
    float: left;
}

.point.active{
    transform: scale(125%);
    background-color: aquamarine;
}

.point:nth-child(2){
    margin:0 75px;
}

.bg-img-btn{
    position: absolute;
    top: 50%;
    width: 20px;
    height: 60px;
    background: none;
    border: none;
    color:aliceblue;
    cursor: pointer;
    font-size: 30px;
}

#left-btn{
    position: absolute;
    left: 0%;
}

#right-btn{
    position: absolute;
    right: 0%;
}

nav{
    position: fixed;
    z-index: 9999;
    top: 0;
    height: 60px;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.logo{
    margin-left: 2vw;
    width: 20vw;
    line-height: 60px;
    text-align: center;
}

.logo > a{
    text-decoration: none;
    font-size: 22px;
    font-family: '楷体';
    color: rgb(116, 207, 156);
    font-weight: bolder;
}

.logo > a > span{
    font-family:Arial, Helvetica, sans-serif;
}

.menu{
    list-style: none;
    display: flex;
    width: 20vw;
    height: 60px;
    align-items: center;
    margin-left: 3vw;
    font-size: 16px;
}

.menu-item{
    margin-left: 2vw;
    font-family: '楷体';
}

.menu-item:nth-child(1){
    transform: rotate(-5deg);
}

.menu-item-home{
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.menu-item-scenery{
    text-decoration: none;
    color: rgb(3, 44, 16);
    font-weight: bold;
}

.menu-item-cuisine{
    text-decoration: none;
    color: rgb(3, 44, 16);
    font-weight: bold;
}


.search-box{
    margin-top: 15px;
    margin-left: 20vw;
    margin-right: 3vw;
    display: flex;
    width: 20vw;
    height: 30px;
    border: 2px solid rgb(235, 221, 196);
    border-radius: 5vh;
}

.search-box input{
    width: 15vw;
    height: 20px;
    border: 0px;
    outline: none;
    margin: 0 1vw;
    background-color: transparent;
}

.search{
    border: none;
    outline: none;
    cursor: pointer;
    background: inherit;
    height: 30px;
}

.sign-in{
    width: 5vw;
    line-height: 60px;
    text-align: center;
}

.sign-in > a{
    text-decoration: none;
    font-size: 20px;
    font-family: '方正舒体';
    color: aliceblue;
}

.sign-in > a:hover{
    color: rgb(178, 199, 217);
}

.sign-up{
    width: 5vw;
    line-height: 60px;
    text-align: center;
}

.sign-up > a{
    text-decoration: none;
    font-size: 20px;
    font-family: '方正舒体';
    color: aliceblue;
}

.sign-up > a:hover{
    color: rgb(178, 199, 217);
}

#container{
    width: 100vw;
    padding-top: 30px;
    display: flex;
}

main{
    width: 80vw;
    border-right: 3px dashed cadetblue;
    padding-bottom: 60px;
}

.about-henan{
    width: 70vw;
    margin-left: 5vw;
}

.main-title-block{
    margin-top: 100px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title{
    margin: 0 20px;
    text-align: center;
    font-size: 35px;
    font-family: '楷体';
}

.line{
    display: inline-block;
    width: 220px;
    height: 1px;
    background: rgba(12, 6, 46, 0.467);
}

.about-henan .main-title{
    color:deeppink;
}

.henan-scenery .main-title{
    color: cadetblue;
}

.henan-cuisine .main-title{
    color: darkorchid;
}

.partial-title{
    text-align: center;
    position: relative;
    left: 7vw;
    font-size: 15px;
    font-family: '楷体';
}

.about-henan-description{
    margin-top:30px;
    font-family: '楷体';
}

.henan-scenery{
    margin-top: 30px;
}

.henan-scenery-wrap{
    justify-content: center;
    display: flex;
    margin-top: 40px;
}

.henan-scenery-thumbnail{
    width: 175px;
    height: 175px;
    margin: 0 30px;
    border-radius: 10px;
}

.henan-scenery-thumbnail:nth-child(1){
    background: url(../images/scenery-thumbnail-1.jpg) no-repeat;
    background-size: cover;
    background-color: deeppink;
}

.henan-scenery-thumbnail:nth-child(2){
    background: url(../images/scenery-thumbnail-2.jpg) no-repeat;
    background-size: cover;
    background-color: cadetblue;
}

.henan-scenery-thumbnail:nth-child(3){
    background: url(../images/scenery-thumbnail-3.jpg) no-repeat;
    background-size: cover;
    background-color: darkorchid;
}

.henan-scenery-thumbnail:nth-child(4){
    background: url(../images/scenery-thumbnail-4.jpg) no-repeat;
    background-size: cover;
    background-color: deepskyblue;
}

.secenry-thumbnail-name{
    line-height: 175px;
    text-align: center;
}

.secenry-thumbnail-name a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    color: black;
    display: none;
}

.henan-scenery-thumbnail:hover{
    transform: rotate(-10deg);
    background-image: none;
}

.henan-scenery-thumbnail:hover a{
    display: block;
}

.henan-cuisine{
    margin-top: 30px;
}

.henan-cuisine-img-wrap{
    justify-content: center;
    display: flex;
    margin-top: 40px;
}

.henan-cuisine-block{
    height: 240px;
    width: 180px;
    margin: 0 40px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.62);
}

.henan-cuisine-block:hover{
    transform: translateY(-20px);
}

.henan-cuisine-photo{
    height: 150px;
    width: 180px;
}

.henan-cuisine-photo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.henan-cuisine-words-block{
    height: 90px;
    width: 180px;
}

.cuisine-name{
    font-size: 16px;
    margin: 10px;
    font-family: '楷体';
    font-weight: bolder;
}

.cuisine-description{
    margin:5px;
    font-family: '楷体';
    font-size: 14px;
}

.cuisine-name a{
    text-decoration: none;
    color: black;
}

.cuisine-name a:hover{
    color: rgb(97, 46, 144);
}

aside{
    padding-top: 50px;
    width: 20vw;
    display: flex;
    flex-direction: column;
}

.webmaster-profile{
    height: 200px;
    position: sticky;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avator{
    margin-top: 30px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 3px solid black;
}

.avator:hover{
    transform: rotate(360deg);
    transition-duration: 2s;
}

.avator img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.webmaster-name{
    margin-top: 20px;
    color: cornflowerblue;
}

.home-page-navigation{
    position: sticky;
    top: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page-navigation-item{
    margin: 15px 0;
    list-style-type: circle;
}

.home-page-navigation-item a{
    text-decoration: none;
}

.home-page-navigation-item:nth-child(1) a{
    color: deeppink;
}

.home-page-navigation-item:nth-child(2) a{
    color: cadetblue;
}

.home-page-navigation-item:nth-child(3) a{
    color: darkorchid;
}

footer{
    margin-top: 50px;
    height: 100px;
}

.footer-wrap{
    border-top: 4px dotted blueviolet;
    margin: 0 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright{
    margin-top: 20px;
}

.copyright span:nth-child(1){
    color: cornflowerblue;
}

.copyright span:nth-child(2){
    color: blueviolet;
}

.copyright span:nth-child(3){
    color: cornflowerblue;
}

.base{
    margin-top: 10px;
}

.base span:nth-child(1){
    color: deeppink;
}

.base span:nth-child(2){
    color: cadetblue;
}
.base span:nth-child(3){
    color: darkorchid;
}